:root {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  color: #f6f6f6;
  background-color: #0b0f14;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0b0f14;
}

button {
  font-family: inherit;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}
